<div class="container">
    <div class="card">
        <h2>Registro</h2>
        <div class="card-body col-9">
            <form autocomplete="off" [formGroup]="form" (ngSubmit)="save()">
                <div class="input-group row">
                    <span class="input-group-addon"><i class="fa fa-user icon"></i></span>
                    <input type="text" 
                           class="form-control" 
                           name="nombreUsuario" 
                           placeholder="Nickname"
                           formControlName="nickname"
                           [class.is-invalid]="invalidNickname">
                          </div>
                             <small *ngIf="invalidNickname" class="text-danger row">
                               El nombre de usuario debe tener almenos 4 caracteres
                             </small>
                  <div class="input-group row">
                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                    <input type="email" 
                           class="form-control" 
                           name="email" 
                           placeholder="Email"
                           formControlName="email"
                           [class.is-invalid]="invalidEmail">
                  </div> 
                  <small *ngIf="invalidEmail" class="text-danger row">
                    Por favor escribe un email válido
                  </small>
                  <div class="input-group row">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <input type="password" 
                           class="form-control" 
                           name="password" 
                           placeholder="Contraseña"
                           formControlName="contrasena"
                           [class.is-invalid]="invalidPassword">
                  </div> 
                  <small *ngIf="invalidPassword" class="text-danger row">
                    La contraseña debe tener una longitud mínima de 5 caracteres
                  </small>
                   <div class="input-group row">
                    <span class="input-group-addon"><i class="fa fa-code"></i></span>
                    <input type="tags" 
                           class="form-control" 
                           name="tags" 
                           placeholder="Escribe tus lenguajes de programación favoritos"
                           formControlName="tags"
                           [class.is-invalid]="invalidTag">
                  </div> 
                  <small *ngIf="invalidTag" class="text-danger row">
                    Escribe almenos un leguaje de programación
                  </small>
                  <!-- <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-unlock"></i></span>
                    <input type="repassword" 
                           class="form-control" 
                           name="password" 
                           placeholder="Repetir Contraseña"
                           formControlName="">
                  </div>  -->
                  <!-- <div class="checkbox-group">
                    <input id="checkbox" type="checkbox" class="checkbox-control" name="checkbox" #recordar_usuario>
                    <label class="check-label">recordar mi usuario</label>
                  </div>  -->
                  <button type="submit" class="btn btn-block btn-success">Registro</button>
               </form>
               <div class="alreadyLogged">
                <a routerLink="/login">¿ Ya estas registrado ?</a>
            </div>
        </div>
      </div>
</div>

<hr>
<pre>
  Estado del formulario {{form.valid}}
  <br>
  status: {{form.status}}
</pre>
<pre>
  {{ form.value | json}}
</pre>