<div class="container">
    <div class="card">
        <h2>Iniciar Sesión</h2>
        <div class="card-body">
            <form>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                    <input id="nombreUsuario" type="text" class="form-control" name="nombreUsuario" placeholder="Email" #nombre_usuario>
                  </div>
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <input id="password" type="password" class="form-control" name="password" placeholder="Contraseña" #contrasena>
                  </div> 
                  <button type="button" class="btn btn-block btn-success">Login</button>
               </form>
               <div class="alreadyLogged">
                <a routerLink="/register">¿ Aún no te has registrado ?</a>
            </div>
        </div>
      </div>
</div>